# Series的字符串操作2

In [2]:
import pandas as pd
data = ['Tom-Zhang', '====Jerry-Li',
        '===Tyke-Xiong===',  'Spark-Zhao====']
s2 = pd.Series(data)
s2  # 某些字符串的两侧有等号（=）

0           Tom-Zhang
1        ====Jerry-Li
2    ===Tyke-Xiong===
3      Spark-Zhao====
dtype: object

In [5]:
# 去掉首尾的特殊字符
s2=s2.str.strip('=')
s2

0     Tom-Zhang
1      Jerry-Li
2    Tyke-Xiong
3    Spark-Zhao
dtype: object

In [7]:
# 将每一个的-替换为空格
s2=s2.str.replace('-',' ')
s2

0     Tom Zhang
1      Jerry Li
2    Tyke Xiong
3    Spark Zhao
dtype: object

In [13]:
# 数据中是否包含rr
s2[s2.str.contains('rr')]

1    Jerry Li
dtype: object

In [20]:
s2

0     Tom Zhang
1      Jerry Li
2    Tyke Xiong
3    Spark Zhao
dtype: object

In [22]:
# 查找find
s2[s2.str.find('rr')!=-1]

1    Jerry Li
dtype: object

In [25]:
# len:返回字符串长度
# 小于9的异常
s2[s2.str.len()<9]

1    Jerry Li
dtype: object

In [28]:
s2

0     Tom Zhang
1      Jerry Li
2    Tyke Xiong
3    Spark Zhao
dtype: object

In [27]:
# count:某个子串出现的次数
s2.str.count('r')

0    0
1    2
2    0
3    1
dtype: int64

In [31]:
s2

0     Tom Zhang
1      Jerry Li
2    Tyke Xiong
3    Spark Zhao
dtype: object

In [32]:
s2
s2.str.find('rr')

0   -1
1    2
2   -1
3   -1
dtype: int64

In [39]:
s2.str.split(' ',expand=True)

       0      1
0    Tom  Zhang
1  Jerry     Li
2   Tyke  Xiong
3  Spark   Zhao