# Series的其他常用方法

In [2]:
import pandas as pd
import numpy as np

In [12]:
s1 = pd.Series(
    ['北京', '上海', '北京', '天津',
      '北京', '重庆', '上海', '重庆'])
s1

0    北京
1    上海
2    北京
3    天津
4    北京
5    重庆
6    上海
7    重庆
dtype: object

In [4]:
s2 = pd.Series(
    [11, 22, 33, 44, 55], 
    index=['一月', '二月', '三月', '四月', '五月'])
s2

一月    11
二月    22
三月    33
四月    44
五月    55
dtype: int64

In [18]:
# ~s1.isin(['北京','上海','杭州','深圳'])

In [19]:
s1
s1[~s1.isin(['北京','上海','杭州','深圳'])]
# 得到不在列表中的城市

3    天津
5    重庆
7    重庆
dtype: object

In [20]:
# 去重
s1.unique()

array(['北京', '上海', '天津', '重庆'], dtype=object)

In [21]:
# 去重之后类别的计数
s1.nunique()

4

In [22]:
# 分类计数
s1.value_counts()

北京    3
上海    2
重庆    2
天津    1
Name: count, dtype: int64

In [ ]:
# 用户行为  1234
# 1 pv  2cart 3collect 4buy

In [24]:
city_map={'北京':'一线城市',
          '上海':'一线城市',
          '天津':'二线城市',
          '重庆':'二线城市'}

In [25]:
s1.map(city_map)

0    一线城市
1    一线城市
2    一线城市
3    二线城市
4    一线城市
5    二线城市
6    一线城市
7    二线城市
dtype: object

In [26]:
s2 = pd.Series(
    [11, 22, 33, 44, 55], 
    index=['一月', '二月', '三月', '四月', '五月'])
s2

一月    11
二月    22
三月    33
四月    44
五月    55
dtype: int64

In [33]:
# 计算月环比=(本月销售额-上月销售额)/上月销售额
(s2-s2.shift(1))/s2.shift(1)

一月         NaN
二月    1.000000
三月    0.500000
四月    0.333333
五月    0.250000
dtype: float64

In [32]:
# 1：向下移动1位
# -1：向上移动1位
s2.shift(1)

一月     NaN
二月    11.0
三月    22.0
四月    33.0
五月    44.0
dtype: float64

In [ ]:
# 计算月环比=(本月销售额-上月销售额)/上月销售额
# 本月销售额100w 上月销售额80w
# (100-80)/80=25%  本月在上月基础上提升25%  80w*0.25=20w

In [ ]:
# 同比  今年5月份和去年5月份比

In [ ]:
# 业务场景：今年5月份销售额下滑  分析原因？
# 检查数据，-同比去年五月份，确定事件的严重性 突然下降 持续下降
# 内部：产品  渠道  地区  人员   客户  运营(营销活动，策略调整)
# 外部：PEST+竞品