# Pandas 文件操作

In [2]:
import pandas as pd

## CSV文件操作

In [21]:
# 从CSV文件中读取数据
# filepath_or_buffer:文件路径           
# encoding:文件编码方式
# sep:分隔符 默认是逗号
# header:把某行数据作为列名 传入行号  第几行 比如header=1
# names:自定义列名 传入列表 比如names=list('abcdhjiuyh')
# index_col:把某一列作为行索引 传入列索引 比如index_col=0
# usecols:只读几列 比如:usecols=['员工满意度','项目数量']
# skiprows:跳过前几行
# nrows:只读一行
# df1 = pd.read_csv(filepath_or_buffer='data/HR.csv'
#                   ,encoding='gbk')
# df1.head(2)
df1 = pd.read_csv(filepath_or_buffer='data/HR.csv'
                  ,encoding='gbk')
df1.head(2)

   员工满意度  考核评分  项目数量  每月在公司工作时间  司龄  工作事故  是否离职  五年内是否升职     部门      薪水
0   0.38  0.53     2        157   3     0     1        0  sales     low
1   0.80  0.86     5        262   6     0     1        0  sales  medium

In [26]:
df2 = pd.DataFrame({
    '姓名': ['张三', '李四', '王五'],
    '年龄': [18, 19, 17],
    '成绩': [80, 70, 99]
}, index=['No1', 'No3', 'No2']
)
df2

     姓名  年龄  成绩
No1  张三  18  80
No3  李四  19  70
No2  王五  17  99

In [27]:
# 将dataframe保存为CSV文件
# index:默认为True 存储所有行索引
# header:默认为True 存储所有列
df2.to_csv(path_or_buf='data/demo.csv',encoding='gbk')

## Excel文件操作

In [30]:
# 报错时，安装的指令：# pip install openpyxl -i https://pypi.tuna.tsinghua.edu.cn/simple some-package
import pandas as pd
df3 = pd.read_excel('data/students.xlsx')
df3

   姓名 性别  年龄  成绩
0  张三  男  18  80
1  李四  女  19  70
2  王五  男  17  99
3  赵六  女  18  88

In [10]:
df2 = pd.DataFrame({
    '姓名': ['张三', '李四', '王五'],
    '年龄': [18, 19, 17],
    '成绩': [80, 70, 99]
}, index=['No1', 'No3', 'No2']
)
df2

     姓名  年龄  成绩
No1  张三  18  80
No3  李四  19  70
No2  王五  17  99

In [13]:
df2.to_excel('data/myexcel_file.xlsx')  # 保存文件